.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

p-card {
  width: 100%;
}

.loading-container {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loading-container p {
  font-size: 16px;
  margin-top: 10px;
}
